header
	.title
		padding: 32px 0 0 120px
		font-size: 30px
		font-color: #000
		position: absolute
		strong
			font-size: 40px

	background:
		image: url(../img/#{$logo-path})
		repeat: no-repeat, no-repeat
		size: 100px 100px, cover
		position: 15px 15px, 50% 50%
	margin: 0
	padding: 0
	width: 100%
	height: 100%

	canvas
		display: block